.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  @extend %flexBetweenCenter;
  margin-right: auto;

  &__list {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @extend %flexBetweenCenter;
    @extend %listStyleNone;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $colorH2-h3;
    text-decoration: none;

    transition: color $generalAnimation;

    &:hover,
    &:focus {
      color: $colorFocus;
    }
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link--current {
  color: $colorFocus;

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;

    bottom: 0;
    left: 0;

    background: #2196f3;
    border-radius: 2px;
  }
}

.contact-quickly {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @extend %listStyleNone;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;

    font-weight: 500;
    color: $colorText;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color $generalAnimation;

    &:hover,
    &:focus {
      color: $colorFocus;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.contact-quickly__list:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
