body {
  font-family: Roboto, sans-serif;
  color: $colorText;
  font-size: 14px;
}

.title {
  font-size: 28px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.03em;
  color: $colorH2-h3;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
